.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #EBEDF2;
    padding: 1.3125rem 0rem 1rem 3.5rem;
    background-color: #FCFCFC;
}

.Header .title {
    color: #141746;
    font-size: 1.25rem;
    font-family: "Noto Sans Display SemiBold";
}