.Sidebar {
  position: fixed;
  top: 65px;
  left: 0;
  width: 40px;
  height: 100%;
  border: 1px solid #EBEDF2;
  padding: 0 8px;
  background-color: #FCFCFC;
}

.Sidebar div[class*="tool"] {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 8px;
  background-color: none;
  cursor: pointer;
}

.Sidebar div[class*="tool"].selected {
  background-color: #D5D9E2;
}